/*CSS Document*/
*{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
}
body{
    background-color:#0056c1;
}
#header div ul li {
	float:left;
	list-style:none;
}
#nav {
	margin-left:35%;
}
#nav ul li a {
	display:inline-block;
    text-decoration:none;
	text-align:center;
    color:#fff;
    background-color:#0072FF;
    width:160px;
	line-height:60px;
    height:60px;	
	transition:0.5s background-color;
}
#nav ul li a:hover{
     background-color:#0056c1;
	 box-shadow:inset 0px 0px 5px 2px #000;
}
#logo {
	padding-bottom:5px;
    position:absolute;
    width:100%;
	background-color:#0072FF;
	z-index:-1;
}
#active a{
	border-bottom:3px solid black;
}
#active2 a{
	border-left:5px solid red;
}
#nav ul ul {
	position:absolute;  
	width:200px;
	z-index:99;
}
#nav ul ul li {
	display:none;
}

#nav ul li:hover ul li
{
	display:block;
}


#nav ul ul li a {
	border-bottom:2px solid black;
	background-color: blue;
	display:inline-block;
	padding:0px;
	width:160px;
	text-align:center;
}
#slider img{
	margin-top:30px;
	width:100%;
}
#anim img
{
    position:absolute;
}
#pc {
    width:150px;
    top:100px;
    left:15px;
    transition:width 0.5s;
}
#pc:hover {
    width:250px;
}
#phone {
    width:90;
    top:323px;
    left:325px;
    transition:width 0.5s;
}
#phone:hover {
    width:125px;
}
#col {
    width:220px;
    top:135px;
    left:260px;
    transition:width 0.5s;
}
#col:hover {
    width:350px;
}
#mount {
    width:305px;
    top:330px;
    left:510px;
    transition:width 0.5s;
}
#mount:hover {
    width:400px;
}
#sli {
    width:220px;
    top:115px;
    left:763px;
    transition:width 0.5s;
}
#sli:hover {
    width:350px;
}
#pc2 {
    width:270px;
    top:93px;
    left:0px;
    transition:width 0.5s;
}
#pc2:hover {
    width:350px;
}
#lin {
    width:155px;
    top:115px;
    left:1035px;
    transition:width 0.5s;
}
#lin:hover {
    width:350px;
}
#vid {
    width:167px;
    top:123px;
    left:568px;
    transition:width 0.5s;
}
#vid:hover {
    width:350px;
}
#box {
    width:145px;
    top:128px;
    left:1220px;
    transition:width 0.5s;
}
#box:hover {
    width:200px;
}
#pc3 {
    width:170px;
    top:320px;
    left:1195px;
    transition:width 0.4s;
}
#pc3:hover {
    width:190px;
}
#soc {
    width:280px;
    top:313px;
    left:867px;
    transition:width 0.4s;
}
#soc:hover {
    width:300px;
}